


  <!-- ======= Contact Section ======= -->
  <section style="padding-left:20px; background:white; color:#35322d;" id="contact" class="contact">
    <h2>&nbsp;</h2>
    {% if request.session.suser %}
      <div style="padding:3px 0px 3px 20px;">
          <h3 style="padding:3px 0px 3px 0px;">{{request.session.snickname}} 님, 환영합니다</h3>
          <h3 style="padding:3px 0px 3px 0px;">즐겨찾기</h3>
          <h3 style="padding:3px 0px 3px 0px;">마이레시피</h3>
<!--          <a href="{% url 'logout' %}">-->
            <nav class="nav-menu d-none d-lg-block" >
              <ul>
                <li class="book-a-table text-center">
                  <a style="margin:0px;padding:0px;" href="{% url 'logout'%}">
                  <button style="margin:0px; border:white; outline:0;" type="submit">
                    Logout
                  </button>
                  </a>
                </li>
              </ul>
            </nav>
<!--          </a>-->
      </div>
    {% else %}
          <h1 style="padding:3px 0px 3px 20px;"><span>Login</span></h1>
          <p style="padding:0px 0px 3px 20px;">로그인 해주세요</p>
          <form action="{% url 'loginimpl' %}" method="post" role="form" >
            {% csrf_token %}
            <div class="form-col">
              <div class="col-md-2 form-group">
                <input type="text" name="id" class="form-control" id="name" placeholder="id"/>
                <div class="validate"></div>
              </div>
              <div class="col-md-2 form-group">
                <input type="password" class="form-control" name="pwd" id="email" placeholder="password" data-rule="email"/>
                <div class="validate"></div>
              </div>
            </div>
            <div class="mb-3">
              <div class="error-message"></div>
              <div class="sent-message">Login Complete. Welcome!</div>
            </div>
            <nav class="nav-menu d-none d-lg-block" >
              <ul>
                <li class="book-a-table text-center"><button style="border:white; outline:0;" type="submit">Login</button></li>
              </ul>
            </nav>
          </form>
     {% endif %}
    <h2>&nbsp;</h2>
  </section>
