{% extends "inner-page.html" %}
{% block content %}
{% load static %}


  <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Login</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>로그인</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->





 <!-- ======= Book A Table Section ======= -->
 <section id="book-a-table" class="book-a-table">
    <div class="container" style="border-radius: 15px; box-shadow: 5px 5px 5px 5px gray; padding:20px 50px 80px 50px">

      <div class="section-title">
        <h2 style="font-size:55px;"><span>Login</span></h2>
        <p>로그인 해주세요.</p>
      </div>

      <form action="{% url 'loginimpl' %}" method="post" role="form" >
           {% csrf_token %}
        <div class="form-col">
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="id" class="form-control" id="name" placeholder="id"/>
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="password" class="form-control" name="pwd" id="email" placeholder="password" data-rule="email"/>
            <div class="validate"></div>
          </div>

        </div>
         <nav class="nav-menu d-none d-lg-block" >
              <ul>
                <li class="book-a-table text-center"><button style="border:white; outline:0;" type="submit">Login</button></li>
              </ul>
         </nav>
      </form>

    </div>
  </section><!-- End Book A Table Section -->









{% endblock %}