{% extends "inner-page.html" %}
{% block content %}
{% load static %}


<!--자바 스크립트로 아이디, 닉네임 중복여부 검사하고 메세지 띄우기 -->
    <script>
        var idcheck = false;
        var nickcheck = false;

        function submit(idcheck, nickcheck){
            if(idcheck && nickcheck){
                $('input[name="submit"]').prop("disabled",false);
            };
        };

         $(document).ready(function(){
            $('input[name="submit"]').prop("disabled",true);
            // 얘를 클릭했을 때
            $('input[name="idcheck"]').click(function(){
                // 얘의 값을 가져온다
                id = $('input[name="u_id"]').val();
                // id에 저장한 값을 get 방식으로 날린다
                $.ajax({
                   url:{% url "idcheck" %},
                   data:{'id':id},
                   type:'get',
                   success:function(data){
                        if(data.trim() == 'ok'){
                            alert('사용 가능한 아이디입니다');
                            // 아이디 중복체크했다고 표시해
                            idcheck = true;
                            submit(idcheck, nickcheck);
                        }else if(data.trim() == 'no'){
                            alert('사용 불가능한 아이디입니다');
                            // 폼 값 지워
                            $('input[name="u_id"]').val('');
                        }else if(data.trim() == 'empty'){
                            alert('아이디 값이 비어있습니다');
                        }else{
                            alert('다시 입력하세요');
                        };

                   }
                });
            });

            $('input[name="nickcheck"]').click(function(){
                // 얘의 값을 가져온다
                nickname = $('input[name="u_nick"]').val();
                // id에 저장한 값을 get 방식으로 날린다
                $.ajax({
                   url:{% url "nickcheck" %},
                   data:{'nickname':nickname},
                   type:'get',
                   success:function(data){
                         if(data.trim() == 'ok'){
                            alert('사용 가능한 닉네임입니다');
                            // 닉네임 중복체크했다고 표시해
                            nickcheck = true;
                            submit(idcheck, nickcheck);
                        }else if(data.trim() == 'no'){
                            alert('사용 불가능한 닉네임입니다');
                            // 폼 값 지워
                            $('input[name="u_nick"]').val('');
                        }else if(data.trim() == 'empty'){
                            alert('닉네임 값이 비어있습니다');
                        }else{
                            alert('다시 입력하세요');
                        };

                   }
                });
            });
        });
    </script>
    <h1>{{message}}</h1>

    <form action="{% url 'useraddimpl' %}" method="post">
        {% csrf_token %}
        ID<input type="text" name="u_id"><input name='idcheck' type="button" value="중복체크"><br>
        NICKNAME<input type="text" name="u_nick"><input name='nickcheck' type="button" value="중복체크"><br>
        PWD<input type="text" name="u_pwd_1"><br>
        PWDCONFIRM<input type="text" name="u_pwd_2"><br>
        NAME<input type="text" name="u_name"><br>
        AGE<input type="text" name="u_age"><br>
        <input type="submit" name="submit" value="REGISTER">
    </form>




  <!-- ======= Contact Section ======= -->
  <section style="padding-left:20px; background:white; color:#35322d;" id="contact" class="contact">
    <h5>&nbsp;</h5>
    {% if request.session.suser %}
      <div style="padding:3px 0px 3px 20px;">
          <h3 style="padding:3px 0px 3px 0px;">{{request.session.snickname}} 님, 환영합니다</h3>
          <h3 style="padding:3px 0px 3px 0px;">즐겨찾기</h3>
          <h3 style="padding:3px 0px 3px 0px;">마이레시피</h3>
<!--          <a href="{% url 'logout' %}">-->
            <nav class="nav-menu d-none d-lg-block" >
              <ul>
                <li class="book-a-table text-center">
                  <a style="margin:0px;padding:0px;" href="{% url 'logout'%}">
                  <button style="margin:0px; border:white; outline:0;" type="submit">
                    Logout
                  </button>
                  </a>
                </li>
              </ul>
            </nav>
<!--          </a>-->
      </div>
    {% else %}
          <h1 style="padding:3px 0px 3px 20px;"><span>Login</span></h1>
          <p style="padding:0px 0px 3px 20px;">로그인 해주세요</p>
          <form action="{% url 'loginimpl' %}" method="post" role="form" >
            {% csrf_token %}
            <div class="form-col">
              <div class="col-md-2 form-group">
                <input type="text" name="id" class="form-control" id="name" placeholder="id"/>
                <div class="validate"></div>
              </div>
              <div class="col-md-2 form-group">
                <input type="password" class="form-control" name="pwd" id="email" placeholder="password" data-rule="email"/>
                <div class="validate"></div>
              </div>
            </div>
            <div class="mb-3">
              <div class="error-message"></div>
              <div class="sent-message">Login Complete. Welcome!</div>
            </div>
            <nav class="nav-menu d-none d-lg-block" >
              <ul>
                <li class="book-a-table text-center"><button style="border:white; outline:0;" type="submit">Login</button></li>
              </ul>
            </nav>
          </form>
     {% endif %}
    <h2>&nbsp;</h2>
  </section>









{% endblock %}

