{% extends "inner-page.html" %}

{% load static %}
{% block content %}
<style>
  #ingredient_reg{
          witdh:100%;
          position: relative;
          text-align: center;
          padding: 30px;
          }
  form{
        display: inline-block;
          }
  .users_ingr_delete{
          right:10px;
          }
  #ingredient_reg > form{
          display: inline-block;
          padding: 5px 10px;
          margin: 0 auto;
          border: 1px solid #00000;
          border-radius: 10px;
          background-color:#FFB03B;
          color:white;
          }
  #ingredient_reg > a:hover{
          background-color:white;
          color:#FFB03B;
          border: 1px solid #FFB03B;
          }
  button {
          display: inline-block;
          background: #fff;
          position: relative;
          padding: 0 10px;
          font-weight: 600;
          border: 2px solid #ffb03b;
          color: grey;
          border-radius: 50px;
          }
  .menu .menu-content::after {
          content: "";
          }

</style>
<script>
$(document).ready(function(){
    $('#users_ingr_form > input[type="button"]').click(function(){
        if($('.insert_date').val()=='' || $('.insert_i_name').val()==''){
            alert('식재료 또는 날짜를 입력해주세요');
        }
        else{
             $('#users_ingr_form').attr({
                'action':'{% url "ingredient_regimpl" %}',
                'method':'POST'
            });
            $('#users_ingr_form').submit();

            }
        });
    $('form[class="users_ingr_delete"] > button').click(function(){
        $('form[class="users_ingr_delete"]').attr({
            'action':'{% url "ingredient_regdel" %}',
            'method':'POST'
        });
    $('form[class="users_ingr_delete"]').submit();
        });

    $('form[class="users_ingr_update"] > button').click(function(){
            $('form[class="users_ingr_update"]').attr({
                'action':'{% url "ingredient_update" %}',
                'method':'POST'
            });
            $('form[class="users_ingr_update"]').submit();
        });
    $('#search').click(function(){
        parent = window.open('popingr.html','child','width=500,height=600');
    });
});
</script>

 <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>재료 수정하기</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li><a href="{% url 'ingredient' %}">Back</a></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
<!-- ======= Menu Section ======= -->

    <section id="menu" class="menu">
      <div class="container">

        <div class="section-title">
          <h2>다이어리 내<span> 재료</span></h2>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter=".filter-all" class="filter-active">전체</li>
              <li data-filter=".filter-ex_date_higher">유통기한 5일 이상</li>
              <li data-filter=".filter-ex_date_within">유통기한 5일 이내</li>
              <li data-filter=".filter-ex_date_pass">유통기한 지남</li>
              <li data-filter=".filter-allergy">알레르기 유발</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container">
        {% for l in uigreenlist %}
          <div class="col-lg-6 menu-item filter-ex_date_within">
            <div class="menu-content">
            <div class="update and delete">
              <form class="users_ingr_update">
                {% csrf_token %}
                <input class="i_name" size="14" list ="i_name" name="i_name" value="{{l.i_name}}">
                <datalist name="i_name">
                {% for ingr in ingrlist_i_name %}
                    <option value="{{ingr.i_name}}">
                    </option>
                {% endfor %}
                </datalist>
                <input class="date" size="14" type="date" name="ui_exdate">
                <input type="hidden" name="u_id" value="{{l.ui_id}}">
              <button>수정</button>
              </form>
              <form class="users_ingr_delete">
                  {% csrf_token %}
                  <input type="hidden" name="i_name" value="{{l.i_name}}">
                  <input type="hidden" name="ui_exdate" value="{{l.ui_exdate}}">
                  <button>삭제</button>
              </form>
            </div>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} > {{l.i_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in uiredlist %}
          <div class="col-lg-6 menu-item filter-ex_date_pass">
            <div class="menu-content">
            <div class="update and delete">
              <form class="users_ingr_update">
                {% csrf_token %}
                <input class="i_name" size="14" list ="i_name" name="i_name" value="{{l.i_name}}">
                <datalist>
                {% for ingr in ingrlist_i_name %}
                    <option value="{{ingr.i_name}}">
                    </option>
                {% endfor %}
                </datalist>
                <input class="date" size="14" type="date" name="ui_exdate">
                <input type="hidden" name="u_id" value="{{l.ui_id}}">
              <button>수정</button>
              </form>
              <form class="users_ingr_delete">
                  {% csrf_token %}
                  <input type="hidden" name="i_name" value="{{l.i_name}}">
                  <input type="hidden" name="ui_exdate" value="{{l.ui_exdate}}">
                  <button>삭제</button>
              </form>
            </div>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} > {{l.i_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in ualist %}
          <div class="col-lg-6 menu-item filter-allergy">
            <div class="menu-content">
             <div class="update and delete">
              <form class="users_ingr_update">
                {% csrf_token %}
                <input class="i_name" size="14" list ="i_name" name="i_name" value="{{l.i_name}}">
                <datalist >
                {% for ingr in ingrlist_i_name %}
                    <option value="{{ingr.i_name}}">
                    </option>
                {% endfor %}
                </datalist>
                <input class="date" size="14" type="date" name="ui_exdate">
                <input type="hidden" name="u_id" value="{{l.ui_id}}">
              <button>수정</button>
              </form>
              <form class="users_ingr_delete">
                  {% csrf_token %}
                  <input type="hidden" name="i_name" value="{{l.i_name}}">
                  <input type="hidden" name="ui_exdate" value="{{l.ui_exdate}}">
                  <button>삭제</button>
              </form>
            </div>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} > {{l.i_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in uilist %}
          <div class="col-lg-6 menu-item filter-ex_date_higher">
            <div class="menu-content">
             <div class="update and delete">
              <form class="users_ingr_update">
                {% csrf_token %}
                <input class="i_name" size="14" list ="i_name" name="i_name" value="{{l.i_name}}">
                <datalist>
                {% for ingr in ingrlist_i_name %}
                    <option value="{{ingr.i_name}}">
                    </option>
                {% endfor %}
                </datalist>
                <input class="date" size="14" type="date" name="ui_exdate">
                <input type="hidden" name="u_id" value="{{l.ui_id}}">
              <button>수정</button>
              </form>
              <form class="users_ingr_delete">
                  {% csrf_token %}
                  <input type="hidden" name="i_name" value="{{l.i_name}}">
                  <input type="hidden" name="ui_exdate" value="{{l.ui_exdate}}">
                  <button>삭제</button>
              </form>
            </div>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} > {{l.i_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in ingrlist %}
        <div class="col-lg-6 menu-item filter-all">
          <div class="menu-content">
            <div class="update and delete">
              <form class="users_ingr_update">
                {% csrf_token %}
                <input class="i_name" size="14" style="height:30px;" list ="i_name" name="i_name" value="{{l.i_name}}">
                <datalist>
                {% for ingr in ingrlist_i_name %}
                    <option value="{{ingr.i_name}}">
                    </option>
                {% endfor %}
                </datalist>
                <input class="date" size="14" type="date" name="ui_exdate">
                <input type="hidden" name="u_id" value="{{l.ui_id}}">
              <button>수정</button>
              </form>
              <form class="users_ingr_delete">
                  {% csrf_token %}
                  <input type="hidden" name="i_name" value="{{l.i_name}}">
                  <input type="hidden" name="ui_exdate" value="{{l.ui_exdate}}">
                  <button>삭제</button>
              </form>
            </div>
          </div>
          <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} > {{l.i_name}} 유통기한: {{l.ui_exdate}}
          </div>
        </div>
        {% endfor %}
        </div>

      </div>
    <div id="ingredient_reg">
      <form id="users_ingr_form">
          {% csrf_token %}
          식재료  <input class="insert_i_name" list ="i_name" name="i_name">
              <datalist id="i_name" name="i_name">
              {% for ingr in ingrlist_i_name %}
                <option value="{{ingr.i_name}}">
              {% endfor %}
                </option>
              </datalist>
          유통기한 <input class="insert_date" type="date" name="ui_exdate">
              <input type="button" value="등록"><br>
      </form>
    </div>
    </section>
{% endblock %}