{% extends "inner-page.html" %}

{% load static %}
{% block content %}

<style>
  #ingredient_reg{
          witdh:100%;
          text-align: center;
          padding: 30px;
        }
  #ingredient_reg > a{
          display: inline-block;
          padding: 5px 10px;
          margin: 0 auto;
          border: 1px solid #00000;
          border-radius: 10px;
          background-color:#FFB03B;
          color:white;
          }
  #ingredient_reg > a:hover{
          background-color:white;
          color:#FFB03B;
          border: 1px solid #FFB03B;
          }
  li {
  position: relative;
  white-space: nowrap;
  float: left;
          }
</style>
<script>
$(document).ready(function(){
  $('button[name="search"]').click(function(){
                  i_name = $('input[name="i_name"]').val();
                  i_name_2="#"+i_name;
                  location.href = i_name_2;
                  document.getElementById(i_name).style.color='#ff2727';
              });
            });
</script>
<!-- ======= Breadcrumbs Section ======= -->
   <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>My ingredient</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>My ingredient</li>
          </ol>
        </div>

      </div>
   </section>
<!-- End Breadcrumbs Section -->

<!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container">

        <div class="section-title">
          <h2>다이어리 내<span> 재료</span></h2>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter=".filter-all" class="filter-active">전체</li>
              <li data-filter=".filter-ex_date_higher">유통기한 5일 이상</li>
              <li data-filter=".filter-ex_date_within">유통기한 5일 이내</li>
              <li data-filter=".filter-ex_date_pass">유통기한 지남</li>
              <li data-filter=".filter-allergy">알레르기 유발</li>
            </ul>
          </div>
        </div>
        <div class="row menu-container">
        {% for l in uigreenlist %}
          <div class="col-lg-6 menu-item filter-ex_date_within">
            <div class="menu-content">
              <a class="{{l.i_name}}">{{l.i_name}}</a>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in uiredlist %}
          <div class="col-lg-6 menu-item filter-ex_date_pass">
            <div class="menu-content">
              <a class="{{l.i_name}}">{{l.i_name}}</a>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in ualist %}
          <div class="col-lg-6 menu-item filter-allergy">
            <div class="menu-content">
              <a class="{{l.i_name}}">{{l.i_name}}</a>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in uilist %}
          <div class="col-lg-6 menu-item filter-ex_date_higher">
            <div class="menu-content">
              <a class="{{l.i_name}}">{{l.i_name}}</a>
            </div>
            <div class="menu-ingredients">
              {{l.icp_name}} > {{l.ic_name}} 유통기한: {{l.ui_exdate}}
            </div>
          </div>
        {% endfor %}

        {% for l in ingrlist %}
        <div class="col-lg-6 menu-item filter-all">
          <div class="menu-content">
            <a id="{{l.i_name}}">{{l.i_name}}</a>
          </div>
          <div class="menu-ingredients">
            {{l.icp_name}} > {{l.ic_name}} 유통기한: {{l.ui_exdate}}
          </div>
        </div>
        {% endfor %}

        </div>

      </div>
      <div id="ingredient_reg">
      <a href="{% url 'ingredient_reg' %}">수정하러가기</a>
      </div>
    </section>
<!-- End Menu Section -->


{% endblock %}
