{% extends "inner-page.html" %}

{% load static %}
{% block content %}
 <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->


<script>
$(document).ready(function(){
    $('#users_ingr_form > input[type="button"]').click(function(){
       $('#users_ingr_form').attr({
            'action':'{% url "users_ingrimpl" %}',
            'method':'POST'
       });
       $('#users_ingr_form').submit();
    });
});
</script>
    {% if error == True %}
        <h1>에러발생</h1>
    {% endif %}
    <h1>재료 등록 수정</h1>
    <table id="ingredient_reg">
        <tr>현재등록재료
            <th>등록번호</th>
            <th>등록날짜</th>
            <th>상위 카테고리</th>
            <th>하위 카테고리</th>
            <th>재료이름</th>
            <th>유통기한</th>
        </tr>
        {% for ingr in user_ingrlist %}
        <tr>
            <th>{{ingr.ui_id}}</th>
            <th>{{ingr.ui_regdate}}</th>
            <th>{{ingr.icp_name}}</th>
            <th>{{ingr.ic_name}}</th>
            <th>{{ingr.i_name}}</th>
            <th>{{ingr.ui_exdate}}</th>
            {% endfor %}
        </tr>
    </table>
    <form id="users_ingr_form">
    {% csrf_token %}
<!--    상위카테고리<input list ="icp_name" name="icp_name">-->
<!--              <datalist id="icp_name">-->
<!--              {% for ingr in ingrlist_icp_name %}-->
<!--                <option value="{{ingr.icp_name}}">-->
<!--              {% endfor %}-->
<!--                </option>-->
<!--              </datalist>-->
<!--    하위카테고리<input list ="ic_name" name="ic_name">-->
<!--              <datalist id="ic_name">-->
<!--              {% for ingr in ingrlist_ic_name %}-->
<!--                <option value="{{ingr.ic_name}}">-->
<!--              {% endfor %}-->
<!--                </option>-->
<!--              </datalist>-->
    재료이름<input list ="i_name" name="i_name">
              <datalist id="i_name">
              {% for ingr in ingrlist %}
                <option value="{{ingr.i_name}}">
              {% endfor %}
                </option>
              </datalist>
    유통기한<input type="date" name="ui_exdate">
              <input type="button" value="등록"><br>
    </form>

{% endblock %}

def ingredient_reg(request):
    user_ingrlist = User_IngrDb().select();
    ingrlist = IngrDb().select();
    ingrlist_icp_name = IngrDb().select_icp_name();
    ingrlist_ic_name = IngrDb().select_ic_name();
    today = date.today()

    context = {
        'user_ingrlist': user_ingrlist,
        'ingrlist': ingrlist,
        'today': today,
        'ingrlist_icp_name':ingrlist_icp_name,
        'ingrlist_ic_name':ingrlist_ic_name,
    }
    return render(request, 'ingredientapp/ingredient_reg.html', context);