{% extends "inner-page.html" %}

{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<style>
    li{
        list-style:none;
    }
    .section-title {
        margin-top: 125px;
    }
    button[type="submit"]{
        background: #ffb03b;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }
    button[type="submit"]:hover{
        background: #ffa012;
    }
    .input-file-button{
        cursor:pointer;
        background: #ffb03b;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }
    .input-file-button:hover{
        background: #ffa012;
    }
    .ingrname{
        cursor:pointer;
        background: #ffb03b;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }
    .ingrname:hover{
        background: #ffa012;
    }
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-color: #F7D358;
        font-weight:700;
    }
    select:focus{
        outline:none;
    }
    .btnAdd{
        background: #ffb03b;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }
    .btnAdd:hover{
        background: #ffa012;
    }
    .btnRemove{
        margin-top: 2px;
        background: #ffb03b;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }
    .btnRemove:hover{
        background: #ffa012;
    }
</style>
<script>
    $(document).ready(function(){
<!--        $('#popingr').click(function(){-->
<!--            var parent = window.open('popingr.html','','width=500,height=600');-->
<!--        });-->

        var uploadCnt, initContent, explainContent;
        uploadCnt = $('#totalImgCnt').val();

        initContent = `<div style="display:flex; justify-content:center;">\n
                            <img src="static/img/myrecipe/imgUpload.jpg" alt="upload your images" width="200" height="200">\n
                        </div>\n
                        <div style="display:flex; justify-content:center;">\n
                            <h1> please, upload your image files </h1>\n
                        </div>`

        explainContent = `<div class="row">\n
                            <div class="col-lg-4 col-md-6 form-group mt-3">\n
                                <input type="file" class="explainFile" id="pic" name="img" style="display: none;"/>\n
                                <img class="explainImg" id="sSection" src="static/img/myrecipe/altimg01.jpg" alt="your image" width="150" height="150" />\n
                                <label class="input-file-button" for="pic">사진 수정하기</label>\n
                            </div>\n
                            <div class="col-lg-8 col-md-6 form-group mt-3">\n
                                <textarea class="explainText" name="myrecdetail" style="width:570px; height: 140px; resize : none; overflow:visible; text-overflow:ellipsis;" placeholder="모든 레시피 사진은 등록에 올려주세요"></textarea>\n
                            </div>\n
                        </div>`

        // 나만의 레시피 정보를 입력하기 전에 화면의 설명란 영역에 그림을 나타내는 기능
        if (uploadCnt == 0) {
            $('#initImg').append(initContent);
        };

        $(document).on('click', '.iname', function(){
            // 자식 팝업 창에서 입력할 부모 창의 위치를 저장하는 변수 선언
            var localId = $(this).attr('name');

            // 자식 팝업 창 여는 기능
            // 부모 창의 위치를 나타내는 변수를 URL에 담아서 보내면 자식 창(팝업 창)은
            // window.location.search 함수로 이를 받는다.
            var parent = window.open('popingr.html?=val='+localId,'child','width=500,height=600');
        });

        $(document).on('change', '#pic0', function(){
            var cInputId, cInputName, cImgId, cLabelFor, cAreaId;
            var explainImgId, explainInputId;

            if (this.files.length != 0) {
                $('#totalImgCnt').val(this.files.length);
                $('#initImg').remove();

                for (var i = 0; i < this.files.length - 1; i++) {
                    $('#recipeExplain').append(explainContent);

                    // 입력한 이미지 파일 개수에 따라 설명란을 생성하는 기능
                    cInputId = 'pic' + (i + 1);
                    cLabelFor = 'pic' + i;
                    cInputName = 'img' + (i + 1);
                    cImgId = 'sSection' + (i + 1);
                    cAreaId = 'myrecdetail' + (i + 1);

                    $('.explainFile').eq(i).attr('id', cInputId);
                    $('.explainFile').eq(i).attr('name', cInputName);
                    $('.explainImg').eq(i).attr('id', cImgId);
                    $('.input-file-button').eq(i).attr('for', cLabelFor);
                    $('.explainText').eq(i).attr('name', cAreaId);
                };
            };
        });
    });
</script>

<script>
    // 다중 사진 미리보기 기능 구현
    // 동적 생성 기능과 구분해서 동일한 HTML 태그에 기능을 중복으로 적용
    $(function(){
        $('#pic0').on('change', function(){
            for (var i = 0; i < this.files.length; i++) {
                readURL(this, i);
            };
        });
    });
    function readURL(input, i) {
        if (input.files && input.files[i]) {
            var reader = new FileReader();
            var explainImg = '#sSection' + i;

            reader.onload = function (e) {
                $(explainImg).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[i]);
        }
    }
</script>
<script>
    // 식재료 관련 HTML 요소의 동적 제어 기능
    $(document).ready(function(){
        // HTML 요소 추가
        $('.btnAdd').click(function(){
            // 변수 선언
            var cnt = Number($('input[name="cnt"]').val()) + 1;
            var cntDel = Number($('input[name="cnt"]').val()) - 1;

            var cname = 'iname'+cnt;
            var camt = 'iamt'+cnt;
            var cdel = 'idel'+cnt;

            // 클로저 구현
            var decrease = (function () {
                var counter = cnt;

                // 클로저를 반환
               return function() {
                    return --cnt;
                };
            }());

            $('#ingrlist').append(
                `<li>\n
                    <input type="text" class="iname" name="iname" placeholder="식재료 이름">\n
                    <input type="text" class="iamt" name="iamt" placeholder="단위">\n
                    <input type="button" class="btnRemove" name="idel" value="삭제">\n
                </li>`
            );

            $('.iname').eq(cnt-1).attr('name',cname);
            $('.iamt').eq(cnt-1).attr('name',camt);
            $('.btnRemove').eq(cnt-1).attr('name', cdel);
            $('input[name="cnt"]').val(cnt)

           // HTML 요소 삭제
           $('.btnRemove').click(function(){

                $(this).prev().remove();
                $(this).prev().remove();
                $(this).prev().remove();
                $(this).next().remove();
                $(this).remove();

                $('input[name="cnt"]').val(decrease());
           });
        });
    });
</script>

<body class="myrecipereg">
    <section id="myrecipepage1" class="myrecipepage1">
        <div class="container">
            <div class="section-title">
                <h2>
                    <span>{{request.session.snickname}}</span> 님 레시피 <span>등록하기</span>
                </h2>
            </div>
            <form action="{% url 'myrecipeaddimpl' %}" enctype="multipart/form-data" method="post" runat="server" style="box-shadow: 5px 5px 5px 5px gray; padding:30px;">
                {% csrf_token %}
                <div id="firstRegLine" class="row">
                    <div class="col-lg-8 col-md-6 form-group">
                        <input type="text"  name="myrtitle" value="" placeholder="나의 레시피 제목을 입력하세요" maxlength='20' class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-6 form-group" style="display: inline-block; text-align:center; font-weight:700;">
                        <label><input type="radio" name="public" value="1">나의 레시피 공개</label><br>
                        <label><input type="radio" name="public" value="0">나의 레시피 비공개</label>
                    </div>
                </div>
                <div id="secondRegLine" class="row" style="text-align:center;">
                    <div id="recipeTimeCate">
                        <div class="col form-group mt-3 mt-md-0">
                            <label style="font-size:150%; font-weight:700;" for="rcid">
                                나의 레시피<span style="color:#ffb03b"> 조리 시간</span>은
                            </label>
                            <select id="cooktime" name="ctime" class="ingrname">
                                <option value="">-- 선택하세요 --</option>
                                <option value="5분 이내">5분 이내</option>
                                <option value="10분 이내">10분 이내</option>
                                <option value="15분 이내">15분 이내</option>
                                <option value="20분 이내">20분 이내</option>
                                <option value="30분 이내">30분 이내</option>
                                <option value="60분 이내">60분 이내</option>
                                <option value="90분 이내">90분 이내</option>
                                <option value="2시간 미만">2시간 미만</option>
                                <option value="2시간 이상">2시간 이상</option>
                            </select>
                        </div>
                        <div class="col form-group mt-3 mt-md-0" style="text-align:center;">
                            <label style="font-size:150%; font-weight:700; color:#5f5950" for="rcid">
                                나의 레시피<span style="color:#ffb03b"> 카테고리</span>는
                            </label>
                            <select id="rcid" name="rcategory" class="ingrname">
                                <option value="">-- 선택하세요 --</option>
                                <option value="1">메인 요리</option>
                                <option value="2">밑반찬</option>
                                <option value="3">한식</option>
                                <option value="4">양식</option>
                                <option value="5">일식</option>
                                <option value="6">중식</option>
                                <option value="7">동남아식</option>
                                <option value="8">베이킹</option>
                                <option value="9">기타</option>
                            </select>
                        </div>
                    </div>
                    <div id="recipeImgUpload" class="col form-group mt-3 mt-md-0" style="display: inline-block; text-align:center;" accept-charset="utf-8">
                        <img id="sSection0" src="static/img/myrecipe/altimg01.jpg" alt="your image" width="150" height="150" />
                        <input type="file" id="pic0" name="img0" style="display: none;" class="pic" multiple/>
                        <label class="input-file-button" for="pic0">레시피 사진 등록</label>
                        <input type="hidden" id="totalImgCnt" name="totalImgCnt" value="0"/>
                    </div>
                </div>
                <div id="thirdRegLind" class="row">
                    <div class="col-lg-3 col-md-6 form-group mt-3" style="display: inline-block; text-align:center; font-size:150%; font-weight:700;">
                        나의 레시피 <span id="instr" style="color:#ffb03b;"> 식재료는</span>
                    </div>
                    <div class="col-lg-6 col-md-6 form-group mt-3" id="ingrlist" style="display: inline-block; text-align:center;">
                        <li>
                            <input type="hidden" id="cnt" name="cnt" value="1">
                            <input type="text" class="iname" name="iname1" placeholder="식재료 이름">
                            <input type="text" class="iamt" name="iamt1" placeholder="단위">
                            <input type="button" class="btnAdd" name="idel1" value="추가">
                        </li>
                    </div>
                    <div class="col-lg-3 col-md-6 form-group mt-3">
<!--                        <button id="popingr" class="ingrname" type="button">식재료 검색</button>-->
                    </div>
                </div>
                <div id="recipeExplain">
                    <div id="initImg"></div>
                </div>
                <div class="text-center">
                    <button type="submit">나의 레시피 등록하기</button>
                </div>
            </form>
        </div>
    </section>
</body>


{% endblock %}

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->