{% extends "inner-page.html" %}

{% load static %}
{% block content %}
<!-- 1번그래프-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- 2번그래프-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- 3번,4번그래프-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<style>
    .menu-container{
             position:relative;
        }
    #containers{
            position:relative;
            left: 14%;
            width:800px;
            height:400px;
            border:2px solid #FFB03B;
        }
</style>
<script>
  function graph1(data){
            graphdata = data.datas;
            Highcharts.chart('containers', {

    title: {
        text: '년도별 홈페이지 방문자수'
    },

    subtitle: {
        text: '{{today}} 기준'
    },

    yAxis: {
        title: {
            text: '방문자수'
        }
    },

    xAxis: {
        accessibility: {
            rangeDescription: 'Range: 2014 to 2021'
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2014
        }
    },

    series: graphdata,

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
};
  function graph2(data){
            graphdata = data.datas;
            Highcharts.chart('containers', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: '연령별 회원 수'
    },
    subtitle: {
        text: '{{today}} 기준'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: graphdata
});
};
  function graph3(data){
            graphdata = data.datas;
            Highcharts.chart('containers', {
    chart: {
        type: 'column'
    },
    title: {
        text: '인기 레시피'
    },
    subtitle: {
        text: '{{today}} 기준'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '조회 수'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '조회 수: {point.y}'
    },
    series: [{
        name: 'Population',
        data: graphdata,
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
};
  function graph4(data){
            graphdata = data.datas;
            Highcharts.chart('containers', {
    chart: {
        type: 'column'
    },
    title: {
        text: '인기 식재료'
    },
    subtitle: {
        text: '{{today}} 기준'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '등록 수'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '등록 수: {point.y}'
    },
    series: [{
        name: 'Population',
        data: graphdata,
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
};
  function getData(){
            $.ajax({
                url: '{% url "graph1" %}',
                success:function(data){
                    graph1(data);
                }
            });
        };
  function getData2(){
            $.ajax({
                url: '{% url "graph2" %}',
                success:function(data){
                    graph2(data);
                }
            });
        };
  function getData3(){
            $.ajax({
                url: '{% url "graph3" %}',
                success:function(data){
                    graph3(data);
                }
            });
        };
  function getData4(){
            $.ajax({
                url: '{% url "graph4" %}',
                success:function(data){
                    graph4(data);
                }
            });
        };
  $(document).ready(function(){
    $('#visit').click(function(){
                getData();
            });
    $('#register').click(function(){
                getData2();
            });
    $('#recipe').click(function(){
                getData3();
            });
    $('#ingredient').click(function(){
                getData4();
            });
          });
</script>
 <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><strong>관리페이지</strong></h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li><a href="{% url 'ingredient' %}">Back</a></li>
          </ol>
        </div>

      </div>
   </section>
<section id="menu" class="menu">
      <div class="container">

        <div class="section-title">
          <h2>관리<span> 페이지</span></h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li id="visit" data-filter=".filter-visit" class="filter-active">홈페이지 방문자 수</li>
              <li id="register" data-filter=".filter-register">연령별 회원가입 수</li>
              <li id="recipe" data-filter=".filter-recipe">인기 레시피</li>
              <li id="ingredient" data-filter=".filter-ingredient">인기 식재료</li>
            </ul>
          </div>
        </div>
        <div id="containers">
        </div>

        </div>
</section>
{% endblock %}