{% extends "inner-page.html" %}

{% load static %}
{% block content %}
    <h1>recipe_detail.html</h1>


</style>
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Recipe Detail Page</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>Recipe Detail Page</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->




<!--===============================목록======================================================-->
    <!-- ======= Specials Section ======= -->

    <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2><span>{{r_name}}</span><br></h2>
          <p>{{rc_name}}</p>
        </div>
        <div class="row">
          <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">레시피 정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">조리방법</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">평가 및 리뷰</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <p class="font-italic">
                      <div>
                        {% for r in recipe_detail %}
                        작성일: {{r.r_regdate}}<br>
                        조회수: {{r.r_view}}  추천수: {{r.r_recommend}}<br><br>
                        <img src="{{r.r_mimage}}" alt="" class="img-fluid"><br>
                        {% endfor %}

                      </div>
                    </p>
                    <div class="col-lg-8 text-center order-1 order-lg-2">
                    </div>
                    <p class="font-italic">
                    <div>
                    {% for r in recipe_detail %}
                      조리시간: {{r.r_cooktime}}분
                      {% endfor %}<br><br>
                         <input type="hidden" method="post" name="r_id" value="r_id">
                         재료:<br>
                         {% for r in ingr %}
                         {{r.i_name}} {{r.ri_q}}
                         {% endfor %}<br><br>
                    </div>
                    </p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>조리</h3>
                    <div class="col-lg-8 text-center order-1 order-lg-2">
                        {% for key,val in r_detail.items %}
                        {{key}}
                        <img src="{{val}}"><br><br>
                        {% endfor %}
                    </div>
                    <p class="font-italic">
                    </p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>리뷰</h3>
                    <p class="font-italic">
                      <div>
                           {% for r in review %}
                           작성자: {{r.u_id}}<br>
                           작성일:{{r.rv_regdate}}<br>
                           평점: {{r.r_num}}점
                            {% if r.r_num == 10.0 %}
                                <img src="static/img/star5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 9.0 %}
                                <img src="static/img/star4.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 8.0 %}
                                <img src="static/img/star4.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 7.0 %}
                                <img src="static/img/star3.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 6.0 %}
                                <img src="static/img/star3.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 5.0 %}
                                <img src="static/img/star2.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 4.0 %}
                                <img src="static/img/star2.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 3.0 %}
                                <img src="static/img/star1.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 2.0 %}
                                <img src="static/img/star1.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% elif r.r_num > 1.0 %}
                                <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% else %}
                                <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                            {% endif %}<br>


                            리뷰: {{r.rv_review}}<br><br>{% endfor %}<br>
                           </div></p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Specials Section -->

{% endblock %}