{% extends "inner-page.html" %}

{% load static %}
{% block content %}
    <h1>recipe_detail.html</h1>



    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Recipe Detail Page</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>Recipe Detail Page</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

<style>
table.type06 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
}
table.type06 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}
table.type06 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}
table.type06 .even {
  background: #efefef;
}
#recipeinfo{
    background: #fffaf3;
}
</style>






<!--===============================목록======================================================-->
    <!-- ======= Specials Section ======= -->

    <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2><span>{{r_name}}</span><br><br></h2>
          <h4>{{rc_name}}</h4>
        </div>
        <div class="row">
          <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">레시피 정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">조리방법</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">평가 및 리뷰</a>
              </li>
            </ul>
          </div>
          <div id="recipeinfo" class="col-lg-8 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <p class="font-italic">
                      <div>
                        <link href="/data/201012/IJ12937886903109/product.css" rel="stylesheet" type="text/css" />
                        <div class="container">
                            <div class="wrap">
                                <table cellspacing="0" cellpadding="0" border="0" width="659">
                                <tbody>
                                    <tr>
                                        <td class="c_left">작성일</td>
                                        <td width="520">{{r_regdate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="c_left">조회수</td>
                                        <td width="520">{{r_view}}</td>
                                    </tr>
                                    <tr>
                                        <td class="c_left">추천수</td>
                                        <td width="520">{{r_recommend}}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div><br>
                        {% for r in recipe_detail %}
                        <img src="{{r.r_mimage}}" alt="" class="img-fluid" width="500" height="400"><br>
                        {% endfor %}

                      </div>
                    </p>
                    <div class="col-lg-8 text-center order-1 order-lg-2">
                    </div>
                    <p class="font-italic">
                    <div>
                      <input type="hidden" method="post" name="r_id" value="r_id">
                      <table class="type06">
                          <tr>
                            <th scope="row">조리시간</th>
                            <td>{{r_cooktime}}</td>
                          </tr>
                          <tr>
                            <th scope="row" class="even">재료</th>
                            <td class="even">{% for r in ingr %}
                                             {{r.i_name}} {{r.ri_q}}<br>
                                             {% endfor %}</td>
                          </tr>
                        </table>
                    </div>
                    </p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>조리방법</h3>
                        <div class="container">
                                  <div class="row">
                                    <div class="col-xs-12">
                                      <div class="card">
                                        <div class="card-info">
                                          <div class="content">
                                              {% for key,val in r_detail.items %}
                                            <p><b> </b> <br> {{key}}<br> </p>
                                            <p><b> </b> <img src="{{val}}" width="600" height="400"><br><br><br></p>{% endfor %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                    <p class="font-italic">
                    </p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>리뷰</h3>
                    <p class="font-italic">
                      <div>
                            <div class="container">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            {% for r in review %}
                                            <div class="col-md-2">
                                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                            </div>
                                            <div class="col-md-10">
                                                <p><a class="float-left"><strong>{{r.u_id}}</strong></a><br>
                                                    평점: {{r.r_num}}점
                                                    {% if r.r_num == 10.0 %}
                                                        <img src="static/img/star5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 9.0 %}
                                                        <img src="static/img/star4.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 8.0 %}
                                                        <img src="static/img/star4.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 7.0 %}
                                                        <img src="static/img/star3.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 6.0 %}
                                                        <img src="static/img/star3.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 5.0 %}
                                                        <img src="static/img/star2.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 4.0 %}
                                                        <img src="static/img/star2.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 3.0 %}
                                                        <img src="static/img/star1.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 2.0 %}
                                                        <img src="static/img/star1.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% elif r.r_num > 1.0 %}
                                                        <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% else %}
                                                        <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;"></span>
                                                    {% endif %}<br>
                                               </p>
                                               <div class="clearfix"></div>
                                                <p> 작성자 {{r.u_id}}  <br> 작성일: {{r.rv_regdate|date:"Y-m-d"}} <br>
                                                    {{r.rv_review}}<br><br><br></p>
                                            </div>{% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- End Specials Section -->


 {% if 'suser' in request.session %}
    {% if request.session.suser %}
        {% if recipe_detail.0.u_id == request.session.suser %}
            <div style="margin:0px 0px 30px 600px;">
                <a href="{% url 'update' %}?r_id={{ recipe_detail.0.r_id }}" style="padding:20px 10px 20px 10px;margin:-100px 0px 50px 0px; display:inline;"><button style="padding:0px 20px 0px 20px;  height:50px;font-size:20px;color:white;text-align: center;background: #ffb03b;border: solid 2px white;border-radius: 25px;">수정하기</button></a>
                <a href="{% url 'delete' %}?r_id={{ recipe_detail.0.r_id }}" style="padding:20px 0px 20px 0px;margin:0px 0px 50px 0px; display:inline;"><button style="padding:0px 20px 0px 20px;  height:50px;font-size:20px;color:white;text-align: center;background: #ffb03b;border: solid 2px white;border-radius: 25px;">삭제하기</button></a>
                <br><br><br>

            </div>
        {% endif %}
    {% endif %}
 {% endif %}



{% endblock %}