{% extends "inner-page.html" %}

{% load static %}
{% block content %}

<style>
    #green1{
            color:green
    }
    #red1{
            color:red
    }
    #green2{
            color:green
    }
    #red2{
            color:yellow
    }
</style>
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Recipe Page</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>Recipe Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->








<!--============================내가 가진 식재료==================================================-->

<!-- 이 부분은 현재 로그인되어 있는 사용자 한명에 대해서만 출력되어야 하므로 for문 안에 넣으면 안됨-->
<!--데이터베이스에서 현재 로그인한 사용자가 가지고 있는 식재료를 select 문으로 가져와서 출력해주어야 한다.-->
<!--( select * from users_ingr where u_id=(현재로그인한사용자의아이디) )-->
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container">


<!--  만약 세션의 snickname 라는 key에 value가 존재하면, 즉, 로그인이 되어있으면-->
<!--  로그인이 되어있는 경우에만 세션에 값들이 저장되어있게 해놓았음 -->
      {% if request.session.snickname %}
        <div class="section-title">
<!--      request.session.snickname : 현재 로그인한 사용자의 닉네임-->
          <h2>{{request.session.snickname}}님이 가진 <span>식재료 고르기</span></h2>
        </div>
<!--  만약 세션의 snickname 라는 key에 value가 존재하지 않으면, 즉, 로그인이 되어있지 않으면-->
      {% else %}
        <div class="section-title">
            <h2><span>식재료 고르기</span></h2>
        </div>
      {% endif %}

<!--    버튼 출력하는 영역, 반복될 필요 없음-->
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Show All</li>
              <li data-filter=".filter-close">Close</li>
            </ul>
          </div>
        </div>




      <form action="{% url 'filtering' %}" method="post">
        {% csrf_token %}
        <div class="row menu-container">
    <!--    이 부분이 식재료 표시하는 부분(체크박스랑 식재료 리스트 표시되는 부분) 이므로 여기만 for문을 돌려준다-->
            <br><br><br><br>
            <br><br><br><br>
            {% for ui in ingredients %}
              <div class="col-lg-4 menu-item filter-active">
                <div class="menu-content">
                  <a>

                  {% if ingr_name_user %}
                    {% if ui.i_name in ingr_name_user %}
                         <input type='checkbox' checked="checked" name='ingrcheck[]' value={{ui.i_id}}>{{ui.i_name}}
                    {% else %}
                         <input type='checkbox'  name='ingrcheck[]' value={{ui.i_id}}>{{ui.i_name}}
                    {% endif %}
                  {% else %}
                        <input type='checkbox'  name='ingrcheck[]' value={{ui.i_id}}>{{ui.i_name}}
                  {% endif %}
                  </a>
    <!--              체크박스 체크된거:<input type='checkbox' name='서버에서 인식할 값' value='서버에 전송할 값' checked/>  -->
                </div>
                <div class="menu-ingredients">
                    {{ui.icp_name}} > {{ui.ic_name}}
                </div>
              </div>
            {% endfor %}
        </div>
        <nav class="nav-menu d-none d-lg-block" >
              <ul>
                <li class="book-a-table text-center"><button style="margin:40px 0px 0px 481px;border:white; outline:0;" type="submit">레시피 추천받기</button></li>
              </ul>
        </nav>
      </form>

      </div>
    </section><!-- End Menu Section -->

<!--==================================레시피 목록=====================================================-->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="section-title">
          <h2>레시피 <span>목록</span></h2>
          <p>Recipe list</p>
        </div>

        <div class="row no-gutters">

<!--    딱 이 부분만 for문 돌려서 한개의 영역 안에 한개의 레시피에 대한 정보가 출력되게끔 해야됨 -->
        {% for r in recipes %}
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
<!--            원래 이렇게 되어있던 코드를-->
<!--            <a href="assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">-->
<!--            이렇게 바꿔줘서 음식을 클릭하면 해당 음식의 detail 페이지로 넘어가게끔 해놓음(아직은 에러남)-->
                <a href="{% url 'recipe_detail' %}?r_id={{ r.r_id }}">
<!--                <h1>이미지{{r.r_image1}}</h1>-->
<!--             이 부분에 원래 들어가 있던 기본사진 대신 레시피 테이블의 r_image1 값을 가져와서 static/img 폴더 안에 있는 같은 이름의 사진 파일을 출력하도록 해놓은 부분-->
                <div style="height:258px"><img src="static/img/{{r.r_image1}}" alt="" class="img-fluid"></div>
                <br></br>
                <span style="margin:0px 0px -4px 0px; font-size:21px; color:#FE2E64;">❤</span>
                <span style="margin:20px 0px 0px 0px; font-size:21px; color:#000000;">{{r.r_name}} </span>
                <br>


                {% if r.r_num == 10.0 %}
                    <img src="static/img/star5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 9.0 %}
                    <img src="static/img/star4.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 8.0 %}
                    <img src="static/img/star4.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 7.0 %}
                    <img src="static/img/star3.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 6.0 %}
                    <img src="static/img/star3.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 5.0 %}
                    <img src="static/img/star2.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 4.0 %}
                    <img src="static/img/star2.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 3.0 %}
                    <img src="static/img/star1.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 2.0 %}
                    <img src="static/img/star1.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 1.0 %}
                    <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% else %}
                    <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% endif %}





                <p style="margin:4px 0px 0px 0px; font-size:17px; color:#5f5950;">작성자 : {{r.u_id}}</p>
                <p style="font-size:17px; margin:-1px 0px 10px 0px; color:#5f5950;">조회수 : {{r.r_view}} 추천수 : {{r.r_recommend}}</p>

              </a>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Gallery Section -->


{% endblock %}

