{% extends "inner-page.html" %}

{% load static %}
{% block content %}

<style>

    .about .content ul li {
      position: relative;
      padding-left: 26px;
    }
    .page-review{
        display: flex;
        position: relative;
        justify-content: center;
        padding: 50px;
        }
    .page-review > a{
        color: black;
        text-align: center;
        margin: 0 5px;
        }

</style>


</style>
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>My Recipe</h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>My Recipe</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->







    <!-- ======= Events Section ======= -->
    <section id="events1" class="events">
        <div class="container">

          <div class="section-title">
            <h2>Organize Your <span>Events</span> in our Restaurant</h2>
          </div>

          <div class="owl-carousel events-carousel">

            <div class="row event-item">
              <div class="col-lg-6">
                <img src="static/assets/img/event-birthday.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>$189</span></p>
                </div>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>



          </div>

        </div>
      </section><!-- End Events Section -->





    <!-- ======= Events Section ======= -->
    <section id="events2" class="events">
        <div class="container">

          <div class="section-title">
            <h2>Organize Your <span>Events</span> in our Restaurant</h2>
          </div>

          <div class="owl-carousel events-carousel">

            <div class="row event-item">
              <div class="col-lg-6">
                <img src="static/assets/img/event-birthday.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>$189</span></p>
                </div>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>

                    <div class="row event-item">
              <div class="col-lg-6">
                <img src="static/assets/img/event-birthday.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>$189</span></p>
                </div>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>
          </div>




        </div>
      </section><!-- End Events Section -->













<!--==================================레시피 목록=====================================================-->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="section-title">
          <h2>레시피 <span>목록</span></h2>
          <p>Recipe list</p>
        </div>

        <div class="row no-gutters">

<!--    딱 이 부분만 for문 돌려서 한개의 영역 안에 한개의 레시피에 대한 정보가 출력되게끔 해야됨 -->
        {% for r in recipes %}
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
<!--            원래 이렇게 되어있던 코드를-->
<!--            <a href="assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">-->
<!--            이렇게 바꿔줘서 음식을 클릭하면 해당 음식의 detail 페이지로 넘어가게끔 해놓음(아직은 에러남)-->
                <a href="{% url 'recipe_detail' %}?r_id={{ r.r_id }}">
<!--                <h1>이미지{{r.r_image1}}</h1>-->
<!--             이 부분에 원래 들어가 있던 기본사진 대신 레시피 테이블의 r_image1 값을 가져와서 static/img 폴더 안에 있는 같은 이름의 사진 파일을 출력하도록 해놓은 부분-->
                <div style="height:258px"><img src="static/img/{{r.r_mimage}}" alt="" class="img-fluid"></div>
                <br></br>
                </a>




                {% if r.r_id in favorite %}
                    <a href="" name='fav_cancel' style="margin:0px 0px -4px 0px; font-size:21px; ">💗<p style="display:none;">{{r.r_id}}</p></a href="">
                {% else %}
                    <a href="" name='fav_add' style="margin:0px 0px -4px 0px; font-size:21px; ">🤍<p style="display:none;">{{r.r_id}}</p></a>
                {% endif %}









                    <a href="{% url 'recipe_detail' %}?r_id={{ r.r_id }}"><span style="margin:30px 0px 0px 0px; font-size:21px; color:#000000;">{{r.r_name}} </span></a>
                    <br>

                {% if r.r_num == 10.0 %}
                    <img src="static/img/star5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 9.0 %}
                    <img src="static/img/star4.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 8.0 %}
                    <img src="static/img/star4.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 7.0 %}
                    <img src="static/img/star3.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 6.0 %}
                    <img src="static/img/star3.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 5.0 %}
                    <img src="static/img/star2.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 4.0 %}
                    <img src="static/img/star2.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 3.0 %}
                    <img src="static/img/star1.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 2.0 %}
                    <img src="static/img/star1.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% elif r.r_num > 1.0 %}
                    <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% else %}
                    <img src="static/img/star0.5.jpg"><span style="font-size:15px; margin:0px 0px -4px 10px; color:#5f5950;">({{r.re_count}})</span>
                {% endif %}


                <p style="margin:4px 0px 0px 0px; font-size:17px; color:#5f5950;">작성자 : {{r.u_id}}</p>
                <p style="font-size:17px; margin:-1px 0px 10px 0px; color:#5f5950;">조회수 : {{r.r_view}} 추천수 : {{r.r_recommend}}</p>

            </div>
          </div>
        {% endfor %}

        </div>











      </div>
    </section><!-- End Gallery Section -->





      <div style="background-color:#fffaf3; margin:40px 0px 0px 0px; padding:20px 0px 20px 0px;" class="container-fluid">
        <li class="page-review">
            {% if before %}
            <a class="page-link" href="?&page={{beforenum}}">이전</a>
            {% endif %}
            {% for l in pagelist %}
            <a class="page-link" href="?&page={{l}}">{{l}}</a>
            {% endfor %}
            {% if next %}
            <a class="page-link" href="?&page={{nextnum}}">다음</a>
            {% endif %}
        </li>
      </div>






{% endblock %}

